// Import Fonts

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
// font-family: 'Akaya Telivigala', cursive;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
// font-family: 'Sulphur Point', sans-serif;

// ****************** //

@import 'variables';
@import 'mixins';

body {
  color: $color-text;
  font-family: 'Sulphur Point', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  outline: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}



#app {
  height: 100vh;
  width: 100vw;
  background: rgb(243,118,74);
  background: linear-gradient(180deg, rgba(243,118,74,1) 0%, rgba(243,167,54,1) 100%);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 90%;
}

// Balance

.balance {
  display: flex;
  border: $border;
  margin: 40px auto 0;
  background-color: #5262F2;
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

.balance__value {
  margin: auto;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

// Navigation

.navigation {
  margin-top: 40px;
}
.navigation__sections {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__section {
  @include defaultBlock();
  display: flex;
  width: 22%;
  height: 50px;
  cursor: pointer;
  transition: linear .1s;

  &:not(.selected):hover {
    transform: scale(1.05);
    background-color: darken($green, 5);
  }
  &:not(.selected):active {
    background-color: darken($green, 10);
  }

  &.selected {
    height: 58px;
    width: 27%;
    background-color: darken($green, 15);
    text-decoration: underline #fff;
  }
}

.navigation__section-name {
  margin: auto;
  font-size: 25px;
  letter-spacing: 2px;
}

// Primary

.primary {
  margin-top: 40px;
}

.primary__content {
  width: 100%;
  height: 65vh;
  padding: 30px 100px;
  text-align: center;
  @include defaultBlock();
}
.primary__info-title {
  font-size: 54px;
  letter-spacing: 2px;
}

.primary__info-text {
  font-size: 34px;
}
.primary__info-rarity {
  padding: 7px;
  color: #000;
  font-weight: 700;
  &.normal {
    background-color: $rare-1;
  }
  &.rare {
    background-color: $rare-2;
  }
  &.epic {
    background-color: $rare-3;
  }
  &.legendary {
    background-color: $rare-4;
  }
}

.primary__btn {
  cursor: pointer;
  font-size: 25px;
  margin: 40px auto;
  max-width: 23%;
  padding: 10px;
  background-color: $color-primary-btn;
  font-weight: 700;
  transition: all linear .2s;

  &:hover {
    transform: scale(1.03);
    background-color: darken($color-primary-btn, 5);
  }
  &:active {
    background-color: darken($color-primary-btn, 15);
  }
}