// Import Fonts

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
// font-family: 'Akaya Telivigala', cursive;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
// font-family: 'Sulphur Point', sans-serif;

// ****************** //

@import 'variables';
@import 'mixins';

body {
  color: $color-text;
  font-family: 'Sulphur Point', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  outline: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}


#app {
  height: 100vh;
  width: 100vw;
  background: rgb(243, 118, 74);
  background: linear-gradient(180deg, rgba(243, 118, 74, 1) 0%, rgba(243, 167, 54, 1) 100%);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 90%;
}


// Scroll

::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #82EDE1;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #0c6359;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #04564c;
}

::-webkit-resizer {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 20px;
}

// Balance

.balance {
  display: flex;
  border: $border;
  margin: 40px auto 0;
  background-color: #5262F2;
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

.balance__value {
  margin: auto;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

// Navigation

.navigation {
  margin-top: 40px;
}

.navigation__sections {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__section {
  @include defaultBlock();
  display: flex;
  width: 22%;
  height: 50px;
  cursor: pointer;
  transition: linear .1s;

  &:not(.selected):hover {
    transform: scale(1.05);
    background-color: darken($green, 5);
  }

  &:not(.selected):active {
    background-color: darken($green, 10);
  }

  &.selected {
    height: 58px;
    width: 27%;
    background-color: darken($green, 15);
    text-decoration: underline #fff;
  }
}

.navigation__section-name {
  margin: auto;
  font-size: 25px;
  letter-spacing: 2px;
}

// Primary

.primary {
  margin-top: 40px;
}

.primary__content {
  position: relative;
  width: 100%;
  height: 65vh;
  padding: 30px 100px;
  text-align: center;
  @include defaultBlock();

  &:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    background: url("../assets/cases/case-1.png");
    background-size: cover;
    top: -4%;
    left: -3.5%;
    transform: rotate(-30deg);
  }

  &:after {
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    background: url("../assets/cases/case-7.png");
    background-size: cover;
    bottom: -2%;
    right: -3.5%;
    transform: rotate(20deg);
  }
}

.primary__info-title {
  font-size: 54px;
  letter-spacing: 2px;
}

.primary__info-text {
  font-size: 34px;
}

.primary__info-rarity {
  padding: 7px;
  color: #000;
  font-weight: 700;

  &.normal {
    background-color: $rare-1;
  }

  &.rare {
    background-color: $rare-2;
  }

  &.epic {
    background-color: $rare-3;
  }

  &.legendary {
    background-color: $rare-4;
  }
}

.primary__btn {
  cursor: pointer;
  font-size: 25px;
  margin: 40px auto;
  max-width: 23%;
  padding: 10px;
  background-color: $color-primary-btn;
  font-weight: 700;
  transition: all linear .2s;

  &:hover {
    transform: scale(1.03);
    background-color: darken($color-primary-btn, 5);
  }

  &:active {
    background-color: darken($color-primary-btn, 15);
  }
}

// Cases

.cases {
  margin-top: 40px;
}

.cases__content {
  width: 100%;
  height: 65vh;
  padding: 20px 100px;
  text-align: center;
  @include defaultBlock();
  overflow: auto;
}

.cases__title {
  position: relative;
  font-size: 38px;

  &:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 4px;
    background-color: $border-color;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cases__items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.case {
  width: 15%;
  height: 30%;
  background-color: $green;
  margin-right: 4%;
  margin-bottom: 4%;

  &:last-child {
    margin-right: 0;
  }
}

.case__image {
  height: auto;
  border-top: 4px solid $border-color;
  border-left: 4px solid $border-color;
  border-right: 4px solid $border-color;
  display: flex;
  cursor: pointer;
  transition: all linear .2s;
  position: relative;

  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: -4px;
    background-color: #fff;
    opacity: 1;
    transition: all linear .15s;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);

  }

  &:hover:after {
    top: 98%;
  }

  &:hover + .case__price {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:active {
    background-color: darken($green, 5);
  }

  &:active + .case__price {
    color: #fff;
    background-color: darken($green, 5);
  }
}

.case__icon {
  z-index: 5;
  margin: 20% auto 20%;
  height: auto;
  max-width: 65%;
  max-height: 65%;
}

.case__price {
  border-bottom: 4px solid $border-color;
  border-left: 4px solid $border-color;
  border-right: 4px solid $border-color;
  transition: all linear .2s;
  padding: 2px 10px;
  font-weight: 700;
  color: $green;
  background-color: #fff;
  font-size: 24px;
}

// Inner case

.case-inner {
  margin-top: 40px;
}
.case-inner__content {
  @include defaultBlock();
  width: 100%;
  height: 65vh;
  padding: 40px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.case-inner__image {
  margin: 0 auto;
  width: 10%;
}

.case-inner__icon {
  border: 4px solid #fff;
  padding: 13%;
  max-width: 100%;
  height: auto;
}

.case-inner__button {
  margin: 20px auto 0;
  background-color: $red;
  border: 2px solid #fff;
  width: 17%;
  padding: 0.5%;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.15vw;
   transition: all linear .1s;

  &:hover {
    background-color: darken($red, 5);
  }
  
}

.possible-loot {
  margin-top: 30px;
  max-width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.possible-loot__title {
  text-align: left;
  font-size: 22px;
}

.possible-loot__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 1.5%;
  height: 100%;
}

.possible-loot__item {
  margin-right: 3%;
  margin-bottom: 3%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &:last-child {
    margin-right: 0;
  }
}