// Main colors
$purple: #5262f2;
$green: #14A797;
$red: #f25252;

// Color text
$color-text: #fff;


// Border
$border-color: #fff;
$border: 4px solid $border-color;

// Colors rarity

$rare-1: #5275F2;
$rare-2: #52F275;
$rare-3: #DC52F2;
$rare-4: #F2E252;

$color-primary-btn: #F25252;