<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Candy Cases</title>
</head>
<body>

<div id="app">
    <section class="cases">
        <div class="container">
            <div class="cases__content">
                <div class="cases__title">Cases</div>
                <div class="cases__items">
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-1.png" alt="">
                        </div>
                        <div class="case__price">10 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-2.png" alt="">
                        </div>
                        <div class="case__price">20 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-3.png" alt="">
                        </div>
                        <div class="case__price">50 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-4.png" alt="">
                        </div>
                        <div class="case__price">110 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-5.png" alt="">
                        </div>
                        <div class="case__price">120 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-6.png" alt="">
                        </div>
                        <div class="case__price">170 candy</div>
                    </div>
                    <div class="case">
                        <div class="case__image">
                            <img class="case__icon" src="src/assets/cases/case-7.png" alt="">
                        </div>
                        <div class="case__price">210 candy</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>


