<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Candy Cases</title>
</head>
<body>

<div id="app">
    <div class="header">
        <div class="container">
            <div class="balance">
                <span class="balance__value">Balance: 10  candy</span>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="container">
            <div class="navigation__sections">
                <div class="navigation__section ">
                    <div class="navigation__section-name">Primary</div>
                </div>
                <div class="navigation__section selected">
                    <div class="navigation__section-name">Cases</div>
                </div>
                <div class="navigation__section">
                    <div class="navigation__section-name">Inventory</div>
                </div>
                <div class="navigation__section">
                    <div class="navigation__section-name">Free</div>
                </div>
            </div>
        </div>
    </nav>

    <section class="inventory">
        <div class="container">
            <div class="inventory__content">
                <div class="inventory__utilities">
                    <button class="inventory__utilities-button sell">
                        <span class="inventory__utilities-name">Sell everything</span>
                    </button>
                    <button class="inventory__utilities-button descending">
                        <img src="src/assets/utilities/descending.png" alt="" class="inventory__utilities-icon">
                    </button>
                    <button class="inventory__utilities-button ascending">
                        <img src="src/assets/utilities/ascending.png" alt="" class="inventory__utilities-icon">
                    </button>
                    <button class="inventory__utilities-button time">
                        <img src="src/assets/utilities/time.png" alt="" class="inventory__utilities-icon">
                    </button>
                </div>
                <div class="inventory__items">
                    <div class="inventory__item rare-1">
                        <button class="inventory__item-sell">Sell</button>
                        <div class="inventory__item-name">Jam</div>
                        <div class="inventory__item-image">
                            <img src="src/assets/prizes/jam.png" alt="" class="inventory__item-icon">
                        </div>
                        <div class="inventory__item-price">5 candy</div>
                    </div>
                    <div class="inventory__item rare-2">
                        <button class="inventory__item-sell">Sell</button>
                        <div class="inventory__item-name">Cake</div>
                        <div class="inventory__item-image">
                            <img src="src/assets/prizes/cake-1.png" alt="" class="inventory__item-icon">
                        </div>
                        <div class="inventory__item-price">11 candy</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>